$main-font: 'Roboto', sans-serif;
$white: #fff;
$black: #000;
$yellow: #ffb046;
$dark-gray: #2c2c2c;
$link-color: #005ba3;

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: $main-font;
  color: $black;
  font-size: 62.5%;
}

body{
  background: url("../assets/background.png");
}

.graba{
   height: 100vh;
   font-size: 2.4rem;
   text-align: center;
   color: $yellow;
   display: flex;
   justify-content: center;
   align-items: center;
}